---
layout: default
---
<div id="contacts" class="container page">
  <div class="row">
    <div class="col-md-offset-1  col-md-12">
      <h2><span class="s-border">laboratorio aperto</span> <span class="s-border">:</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-1 page-content">
        <p class="post-meta">
          <span class="s-border">ottobre 2016 - maggio 2017</span>
          <span class="s-border">ogni martedì ore 19.30</span>
        </p>
        <p class="post-meta">
          <span class="s-border">presso PianoTerra</span>
          <span class="s-border">via Federico Confalonieri 3, Milano</span>
        </p>
        <div id="map">

        </div>
        {{ content }}
        <p class="post-meta">
          <a class="s-border" href="http://www.offtopiclab.org" target="_blank">offtopiclab.org</a>
          <a class="s-border" href="https://twitter.com/offtopic_lab" target="_blank">@offtopic_lab</a>
        </p>
    </div>
  </div>
</div>
